<h1>Listing Organization</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for organization <- @organization do %>
    <tr>
      <td><%= organization.name %></td>

      <td>
        <%= link "Show", to: Routes.organization_path(@conn, :show, organization) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

