<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Forelle · Faust Platform</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="<%= Routes.static_path(@conn, "/static/favicon.ico") %>  rel="icon" type="image/x-icon"/>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
          <div class="container">
            <a class="navbar-brand" href="#">
              <%= 
                @conn
                |> Routes.static_path("/images/logotype.png")
                |> img_tag(height: 72)
                |> link(to: "/")
              %>
            </a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <%= if current_user(@conn) do %>
                  <li class="nav-item">
                    <a link href="#" class="nav-link">Поездки</a>
                  </li>
                  <li class="nav-item">
                    <a link href="#" class="nav-link">Водоемы</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= current_user(@conn).credential.unique %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link "Мой аккаунт", to: Routes.user_path(@conn, :show, current_user(@conn)), class: "dropdown-item" %>
                      <a href="#" class="dropdown-item">Мои поездки</a>
                      <a href="#" class="dropdown-item">Мои водоемы</a>
                      <div class="dropdown-divider"></div>
                      <%= link "Редактировать", to: Routes.user_path(@conn, :edit, current_user(@conn)), class: "dropdown-item" %>
                      <%= link "Выход", to: Routes.session_path(@conn, :delete, [action: "user"]), method: :delete, class: "dropdown-item" %>
                    </div>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link "Войти", to: Routes.session_path(@conn, :new), class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link "Создать аккаунт", to: Routes.user_path(@conn, :new), class: "nav-link" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
