<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Faust · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
          <div class="container">
            <a class="navbar-brand" href="#">
              <%= img_tag Routes.static_path(@conn, "/images/logotype.png"), height: 72 %>
            </a>
            <div>
              <span style="color: #F26671; font-weight: bold; font-size: 15px;">
                Forelle.<span style="color: #2E4053; font-weight: bold; font-size: 15px;">Faust</span>
              </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link "ВОЙТИ", to: Routes.user_path(@conn, :new), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link "СОЗДАТЬ АККАУНТ", to: Routes.user_path(@conn, :new), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link "ПОЛЬЗОВАТЕЛИ", to: Routes.user_path(@conn, :index), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link "ОРГАНИЗАЦИИ", to: Routes.organization_path(@conn, :index), class: "nav-link" %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
