<div class="row">
  <div class="col-md-12">
    <h1>Пользователи</h1>
  </div>
</div>
<%= for user <- @users do %>
<div class="row">
  <div class="col-md-12">
    <h5>
      <b><%= link "#{user.name} #{user.surname}", to: Routes.user_path(@conn, :show, user) %></b>
    </h5>
    <div><%= raw FaustWeb.FishView.fishes_tags(@conn, user.fishes) %></div>
    <div><%= raw FaustWeb.TechniquesView.techniques_tags(@conn, user.techniques) %></div>
  </div>
</div>
<% end %>
