<h1>New Chief</h1>

<%= render FaustWeb.ChiefView, "forms/new.html", Map.put(assigns, :action, Routes.chief_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.chief_path(@conn, :index) %></span>
