<div class="row">
    <div class="col-md-8 media-hide-block">
        <h1>Редактирование водоема</h1>
    </div>
    <div class="col-md-4">
        <%= render "forms/edit.html", Map.put(assigns, :action, Routes.water_path(@conn, :update, @water)) %>
    </div>
</div>