<div class="row">
  <div class="col-md-8">
    <h1>Водоемы</h1>
  </div>
  <div class="col-md-4 text-right">
    <%= link "Создать водоем", to: Routes.water_path(@conn, :new), class: "btn btn-success" %>
  </div>
</div>
<%= for water <- @waters do %>
<div class="row">
  <div class="col-md-12">
    <h4>
      <b><%= link water.name, to: Routes.water_path(@conn, :show, water) %></b>
    </h4>
    <div><%= water.description %></div>
  </div>
</div>
<% end %>
