<div class="row">
    <div class="col-md-8 media-hide-block">
        <h1>Новый водоем</h1>
    </div>
    <div class="col-md-4">
        <%= render "forms/new.html", Map.put(assigns, :action, Routes.water_path(@conn, :create)) %>
    </div>
</div>