<h1>Водоем</h1>

<ul>

  <li>
    <strong>Название:</strong>
    <%= @water.name %>
  </li>

  <li>
    <strong>Описание:</strong>
    <%= @water.description %>
  </li>

</ul>

<%= if Bodyguard.permit?(Faust.Reservoir.Water, :edit, current_user(@conn), @water) do %>
  <%= link "Редактировать", to: Routes.water_path(@conn, :edit, @water) %>
<% end %>

<span><%= link "Back", to: Routes.water_path(@conn, :index) %></span>
