<%= for follower <- @followers do %>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-1">
            <%= Routes.static_path(@conn, follower.credential.alchemic_avatar) |> img_tag(width: 48, class: "rounded") %>
        </div>
        <div class="col-md-8">
            <b><%= link "#{follower.name} #{follower.surname}", to: Routes.user_path(@conn, :show, follower) %></b>
        </div>
    </div>
<% end %>